:root {
  --color-primary: #005377;
  --color-secondary: #f0544f;
  --color-extra: #d4e9e2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2; /*Might change later to 1.4*/
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--color-secondary);
}

section a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

ul {
  list-style: none;
}

p {
  margin: 5px 0;
  line-height: 1.5;
}

/* Buttons */
.btn {
  cursor: pointer;
  display: inline-block;
  background: none;
  border: 2px black solid;
  border-radius: 50px;
  padding: 7px 16px;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
}

.btn-dark {
  background-color: black;
  color: white;
}

.btn-dark:hover {
  background-color: var(--color-secondary);
}

.btn-dark-outline:hover {
  background-color: rgb(233, 233, 233);
}

.btn-light-outline {
  background-color: none;
  border-color: white;
  color: white;
}

/* Utility Classes */
.bg-primary {
  background-color: var(--color-primary);
  color: white;
}

.bg-secondary {
  background-color: var(--color-secondary);
  color: white;
}

.bg-extra {
  background-color: var(--color-extra);
  color: black;
}

.text-center {
  text-align: center;
}

.text-xl {
  font-size: 50px;
  letter-spacing: 4px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text-lg {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 600;
  margin-bottom: 20px;
}

.text-md {
  font-size: 24px;
  margin-bottom: 20px;
}

.text-sm {
  font-size: 19px;
  margin-bottom: 20px;
}

.py-sm {
  padding: 10px 0;
}

.py-md {
  padding: 20px 0;
}
.py-lg {
  padding: 40px 0;
}

.jpg-img {
  margin-bottom: -4px;
}

@media (max-width: 960px) {
  .text-xl {
    font-size: 30px;
  }

  .text-lg {
    font-size: 25px;
  }

  .text-md {
    font-size: 19px;
  }
}

@media (min-width: 1440px) {
  .box {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}

section .box-inner a {
  color: white;
  text-decoration: underline;
}

section .box-inner a:hover {
  color: white;
  text-decoration: underline;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

/* Navbar */
.navbar {
  width: 100%;
  height: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%),
    0 0 2px rgb(0 0 0 / 7%);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
}

.navbar-nav-left {
  flex: 1;
  margin-left: 20px;
}

.navbar-nav-right li:first-child a {
  display: flex;
  align-items: center;
}

.navbar ul {
  display: flex;
  align-items: center;
}

.navbar li {
  margin: 0 15px;
  font-weight: bold;
}

.navbar-brand img {
  width: 50px;
  height: 50px;
}

.navbar-nav-right i {
  margin-right: 10px;
}

/* Box Classes */
.box {
  margin: 30px auto;
}

.box-inner {
  max-width: 850px;
  margin: 0 auto;
}

.box-text {
  max-width: 500px;
  text-align: center;
  justify-self: center;
  padding: 20px 0;
}

.box-text .btn {
  margin-top: 25px;
}

/* Grid Styles */
.grid-col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.grid-reversed :first-child {
  order: 2;
}

.img-container img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .grid-col-2 {
    grid-template-columns: 1fr;
  }

  .grid-reversed :first-child {
    order: 0;
  }
}

/* Hamburger Classes */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 2px;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Mobile Menu */
.mobile-menu {
  position: fixed;
  top: 95px;
  right: 0;
  background-color: white;
  color: black;
  width: 90%;
  height: 100%;
  padding: 30px;
  box-shadow: inset 0 4px 3px -3px rgb(0 0 00 / 10%),
    inset 0 4px 2px -2px rgb(0 0 0 / 7%);
  transition: all 0.3s;
}

.mobile-menu ul {
  line-height: 3;
  border-bottom: #777 solid 1px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.locator-icons {
  margin-top: 40px;
}

.mobile-menu-bottom button {
  margin-right: 20px;
}

.hidden {
  transform: translateX(100%);
}

.no-scroll{
  overflow: hidden;
}

@media (max-width: 920px) {
  .navbar .navbar-nav-left,
  .navbar .navbar-nav-right {
    display: none;
  }

  .hamburger {
    display: block;
  }
}
